<%- include('header') %>
    <div class="box" id="heading">
        <h1>About</h2>
    </div>

    
    <p>This App helps users keep track of their tasks or to-do items. It typically allows users to create a list of tasks they need to complete,</p>  
<%- include('footer') %>  